{{#each symptomData}}

<ul>
  <p>| {{this.dataValues.createdAt}} |</p>
  <li>{{this.dataValues.runnyNose}}</li>
  <li>{{this.dataValues.cough}}</li>
  <li>{{this.dataValues.mood}}</li>
  <li>{{this.dataValues.updatedAt}}</li>
</ul>
{{/each}}