<div class="row">
  <div class="col-4 m-1">
    <table id="symptom_table">
      <tr>
        <td style="height: 51px">Date</td>
      </tr>
      <tr>
        <td>Runny Nose</td>
      </tr>
      <tr>
        <td>Cough</td>
      </tr>
      <tr>
        <td>Nausea</td>
      </tr>
      <tr>
        <td>Vommitting</td>
      </tr>
      <tr>
        <td>Bloating</td>
      </tr>
      <tr>
        <td>Constipation</td>
      </tr>
      <tr>
        <td>Mood</td>
      </tr>
      <tr>
        <td>Notes:</td>
      </tr>
    </table>
  </div>
  <div class="col-6 m-1">
    <table style="background-color: #fcfafa">
      {{#each symptomData}}
      <tr>
        <td>{{prettyDate this.dataValues.createdAt}}</td>
      </tr>
      <tr>
        <td class="{{this.dataValues.runnyNose}}"></td>
      </tr>
      <tr>
        <td class="{{this.dataValues.cough}}"></td>
      </tr>
      <tr>
        <td class="{{this.dataValues.nausea}}"></td>
      </tr>
      <tr>
        <td class="{{this.dataValues.vomitting}}"></td>
      </tr>
      <tr>
        <td class="{{this.dataValues.bloating}}"></td>
      </tr>
      <tr>
        <td class="{{this.dataValues.constipation}}"></td>
      </tr>
      <tr>
        <td class="mood" id="mood">{{this.dataValues.mood}}</td>
      </tr>
      <tr>
        <td>{{this.dataValues.note}}</td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>